<html>
<head th:replace="~{components/Header :: header('Fitconnect')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<h1>Account Settings</h1>
<p th:text="${name}"></p>
<!--<button type="button" class="btn btn-danger">Danger</button>-->
<h2 th:text="${user.getEmail()}">Update Display Name</h2>
<form th:action ="@{/account}" method="post">
    <div><label> Display Name : <input type="text" name="displayName"/> </label></div>
    <div><label> Confirm Display Name: <input type="text" name="confirmDisplayName"/> </label></div>
    <div><input type="submit" value="Confirm"/></div>
</form>

<h2>Update Password</h2>
<form th:action ="@{/updatepassword}" method="post">
    <div><label> Current Password: <input type="password" name="password"/> </label></div>
    <div><label> New Password: <input type="password" name="newPassword"/> </label></div>
    <div><label> Confirm New Password: <input type="password" name="confirmNewPassword"/> </label></div>
    <div><p>Please note that you will be automatically logged out after changing passwords</p></label></div>
    <div><input type="submit" value="Confirm"/></div>
</form>

<h2>Delete Account</h2>
<form th:action ="@{/delete}" method="post">
    <div><label> Username: <input type="text" name="displayName"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><p>Please note that this change is permanent and all of your account information will be deleted permanently</p></label></div>
    <div><input type="submit" value="Confirm"/></div>
</form>

<h2>Profile Picture</h2>
<form method="POST" enctype="multipart/form-data" th:action="@{/files/profilepicture/upload}">
    <table>
        <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
</form>
</body>
</html>



