<html>
<head th:replace="~{components/Header :: header('Connect')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<h1 class="fw-bold text-center mt-2">Connect</h1>
<div id="rowFormContainer" class="fw-bold text-center mt-2">
    <form id="searchCategories" th:action="@{/search}"  method="post">
        <div><input class="form-control" type="text" name="find" placeholder="Topic"/></div>
        <div><input type="submit" class="btn btn-primary" value="Search"/></div>
    </form>
</div>

<!--Grid of top 6 available categories-->
<div class="grid text-center">
    <a href="connect/category-feed/One"><div class="g-col-4">Category 1</div></a>
    <a href="connect/category-feed/Two"><div class="g-col-4">Category 2</div></a>
    <a href="connect/category-feed/Three"><div class="g-col-4">Category 3</div></a>
    <a href="connect/category-feed/Four"><div class="g-col-4">Category 4</div></a>
    <a href="connect/category-feed/Five"><div class="g-col-4">Category 5</div></a>
    <a href="connect/category-feed/Six"><div class="g-col-4">Category 6</div></a>
</div>
<br><br>
<div class="fw-bold text-center mt-2">
    <h1>Start a new Discussion!</h1>
    <form enctype="multipart/form-data" th:action="@{/newUpload}" method="POST">
        <div><input class="form-control" type="text" name="Category" placeholder="Topic"/></div>
        <div><input class="form-control" type="file" name="file" id="discussionPhoto"></div>
        <input class="btn btn-success" type="submit" value="Create New">
    </form>
</div>
</body>
</html>