<html>
<head th:replace="~{components/Header :: header('Create Post')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<h1 class="fw-bold text-center mt-2">New Post</h1>
<div class="row justify-content-center mt-3">
    <div class="col col-12 col-lg-6">
        <div class="px-4 py-3 rounded bg-dark-subtle">
            <div class="mb-3">
                <label for="title" th:text="${title}">Post title</label>
                <input class="form-control form-control-lg" type="text" id="title" placeholder="New Post" name="title" required>
            </div>
            <div class="mb-3">
                <label for="file-form" class="form-label">Upload image</label>
                <input class="form-control form-control-lg" id="file-form" type="file" name="file">
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" id="category" name="category" required>
                    <option selected>Select a category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Post body</label>
                <textarea class="form-control" id="body" rows="3" name="body" required></textarea>
            </div>
            <input type="hidden" th:field="${post.id}" id="post-id" />
            <button class="btn btn-primary" onclick="submitPost()">Submit</button>
        </div>
    </div>
</div>

<script>
    function submitPost() {
        console.log(getFormData());
        postDataWithFile("/post/add", getFormData())
            .then(result => {
                console.log(result);
            })
    }

    function getFormData(){
        const formData = new FormData();
        formData.append('id', document.querySelector("#post-id").value);
        formData.append('title', document.querySelector("#title").value);
        formData.append('category', document.querySelector("#category").value);
        formData.append('body', document.querySelector("#body").value);
        formData.append('file', document.querySelector("#file-form").files[0]);

        return formData;
    }
</script>
</body>
</html>