<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/Header :: header('Fitconnect')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<div class="container">
    <h1>My Progress</h1>
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="p-3 rounded bg-dark-subtle" style="height:100%">
                <h4 class="text-center fw-bold">Actions</h4>
                <div>
                    <div class="bg-secondary-subtle my-2 rounded p-2" role="button" data-bs-toggle="modal" data-bs-target="#weightModal">
                        <h4>Enter new weight</h4>
                        <p class="m-0" id="current-weight">Current weight unknown</p>
                    </div>
                    <div class="bg-secondary-subtle my-2 rounded p-2" role="button" data-bs-toggle="modal" data-bs-target="#photoModal">
                        <h4>Upload progress photo</h4>
                        <p class="m-0" id="progress-photo-label">Last entry: never</p>
                    </div>
                    <div class="bg-secondary-subtle my-2 rounded p-2" role="button" data-bs-toggle="modal" data-bs-target="#weightGoalModal">
                        <h4>Set weight goal</h4>
                        <p class="m-0" id="goal-weight-label">No goal set</p>
                    </div>
                    <div class="bg-secondary-subtle my-2 rounded p-2" role="button" data-bs-toggle="modal" data-bs-target="#tableModal">
                        <h4>See Chart as Table</h4>
                        <p class="m-0" id="entry-counter"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12" style="height:100%">
            <div class="p-3 rounded bg-dark-subtle">
                <h4 class="text-center fw-bold">Weight Measurements</h4>
                <canvas id="weight-chart"></canvas>
            </div>
        </div>
    </div>

    <h2 class="mt-4">My Progress Photos</h2>
    <div class="overflow-x-auto" id="photo-container" style="white-space: nowrap"></div>

    <div class="actions-container">
        <h2>Actions</h2>
        <button class="fancy-button" type="button" id="inputWeightBtn">Input new weight</button>
        <button class="fancy-button" type="button" id="addPhotoBtn">Add Progress Photo</button>
        <button class="fancy-button" type="button">Goal setting</button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Upload Progress Photo</h2>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="fileInput">
                <button class="fancy-button" type="submit">Upload</button>
            </form>
        </div>
    </div>


    <div class="chart-container">
        <!-- chart here -->
    </div>
    <div class="badges-container">
        <img class="badge" src="badge1.png" alt="Badge 1">
        <img class="badge" src="badge2.png" alt="Badge 2">
        <img class="badge" src="badge3.png" alt="Badge 3">
    </div>
</div>
<script src="script.js"></script>



<div class="modal fade" id="weightModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/weight/add}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add new weight measurement</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="weightInput">Weight (in lbs)</label>
                    <input type="number" step="0.1" id="weightInput" class="form-control" name="weight" placeholder="Enter weight" required>
                    <p>Note: current date and time will be used</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="weightGoalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/user/change-goal}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit Goal Weight</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="goalInput">Goal Weight (in lbs)</label>
                    <input type="number" step="0.1" id="goalInput" class="form-control" name="weight" placeholder="Enter weight" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="photoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/files/upload}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Upload new progress photo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Progress photo</label>
                        <input class="form-control" name="file" type="file" id="formFile" accept="image/*">
                    </div>
                    <p>Note: Current weight and time will be used</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="tableModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">View Weight as Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="weight-table">

            </div>
        </div>
    </div>
</div>


<script>
    let user;
    // script to get all photos and render them here
    function refresh(){
        const photoFetch = fetch("/files/all")
        const weightFetch = fetch("/weight/all")
        const userInfoFetch = fetch("/user/me")
        Promise.all([photoFetch, weightFetch, userInfoFetch])
            .then(responses => {
                return Promise.all([responses[0], responses[1], responses[2]]);
            })
            .then(data => {
                return Promise.all([data[0].json(), data[1].json(), data[2].json()]);
            })
            .then(data => {
                user = data[2];
                renderWeight(sortByCreatedAsc(data[1]));
                renderPhotos(sortByCreatedDesc(data[0]));
            })
            .catch((response)=>{
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }
    refresh();

    function renderPhotos(pics){
        let html = "";
        pics.forEach(photo => {
            html+= `
            <div class="bg-secondary-subtle m-2 rounded p-0 d-inline-block" style="width:300px;">
                <img class="progress-photo rounded" alt="progress-photo" src="/files/view/${photo.id}"/>
                <p class="fw-bold mx-3 mt-2 text-center">${formatDate(photo.created)} | ${photo.weight} lb</p>
            </div>
            `;
        });
        document.querySelector("#photo-container").innerHTML = html;

        if(pics.length > 0){
            document.querySelector("#progress-photo-label").textContent = "Last photo was taken " + formatDate(pics[0].created);
        }
    }
    function renderWeight(weights){
        document.querySelector("#entry-counter").textContent = "Number of entries: " + weights.length;
        document.querySelector("#goal-weight-label").textContent = "Current Goal: " + user.goalWeight;
        if(weights.length > 0){
            document.querySelector("#current-weight").textContent = "Current Weight: " + weights[weights.length-1].weight + " lbs on " + formatDate(weights[weights.length-1].created);
        }

        let tableContent = `
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Measurement Date</th>
                    <th scope="col">Weight (in LB)</th>
                    <th scope="col">Distance to goal (in LB)</th>
                </tr>
                </thead>
                <tbody>`;

        let dataset = [];
        weights.forEach(weight => {
            dataset.push({x: new Date(weight.created), y: weight.weight});
            tableContent += `
                <tr>
                    <th>${formatDate(weight.created)}</th>
                    <td>${weight.weight}</td>
                    <td>${weight.weight - user.goalWeight}</td>
                </tr>
            `;
        });

        tableContent += `</tbody></table>`;
        document.querySelector("#weight-table").innerHTML = tableContent;


        let chart = document.querySelector("#weight-chart");
        let renderedChart = new Chart(chart, {
            type:'line',
            data:{
                datasets: [{
                    label: "Weight (in lb)",
                    data: dataset
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day',
                        },
                    },
                },
                plugins: {
                    annotation: {
                        annotations: [
                            {
                                type: 'line',
                                mode: 'horizontal',
                                scaleID: 'y', // Use 'y' for the y-axis
                                value: user.goalWeight, // Set the value where you want the line
                                borderColor: 'red', // Customize the line color
                                borderWidth: 2, // Customize the line width
                                label: {
                                    content: 'Goal Weight', // Optional label text
                                    enabled: true, // Show the label
                                },
                            },
                        ],
                    },
                },
            }
        });
    }
</script>
</body>
</html>
