<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/Header :: header('Fitconnect')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-12">

        </div>
        <div class="col-lg-8 col-12">

        </div>
    </div>
    <h1>My Progress</h1>

    <div class="actions-container">
        <h2>Actions</h2>
        <button class="fancy-button" type="button" id="inputWeightBtn">Input new weight</button>
        <button class="fancy-button" type="button" id="addPhotoBtn">Add Progress Photo</button>
        <button class="fancy-button" type="button">Goal setting</button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Upload Progress Photo</h2>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="fileInput">
                <button class="fancy-button" type="submit">Upload</button>
            </form>
        </div>
    </div>

    <div id="weightModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Enter Your New Weight</h2>
            <form id="weightForm">
                <input type="text" id="weightInput" placeholder="Enter your weight">
                <button class="fancy-button" type="submit">Submit</button>
            </form>
        </div>
    </div>


    <div class="chart-container">
        <!-- chart here -->
    </div>
    <div class="badges-container">
        <img class="badge" src="badge1.png" alt="Badge 1">
        <img class="badge" src="badge2.png" alt="Badge 2">
        <img class="badge" src="badge3.png" alt="Badge 3">
    </div>
</div>
<script src="script.js"></script>
</body>
</html>
