<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/Header :: header('Fitconnect')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<div class="container">
    <h1>My Progress</h1>
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="p-3 rounded bg-dark-subtle" style="height:100%">
                <div>
                    <div class="bg-secondary-subtle my-2 rounded p-2">
                        <h4>Enter new weight</h4>
                        <p class="m-0">Current: 100lb</p>
                    </div>
                    <div class="bg-secondary-subtle my-2 rounded p-2">
                        <h4>Enter new measurements</h4>
                        <p class="m-0">Last entry: 3/1/2024</p>
                    </div>
                    <div class="bg-secondary-subtle my-2 rounded p-2">
                        <h4>Upload profile photo</h4>
                        <p class="m-0">Last entry: 2/2/2024</p>
                    </div>
                    <div class="bg-secondary-subtle my-2 rounded p-2">
                        <h4>Set weight goal</h4>
                        <p class="m-0">Currently 130lb</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-12" style="height:100%">
            <div class="p-3 rounded bg-dark-subtle d-flex justify-content-center align-items-center">
                <canvas id="weight-chart"></canvas>
            </div>
        </div>
    </div>

    <h2 class="mt-4">My Progress Photos</h2>
    <div class="overflow-x-auto d-flex flex-row" id="photo-container">


    </div>
    <a class="fw-bold text-secondary">View Specific Photo</a>


    <div class="actions-container">
        <h2>Actions</h2>
        <button class="fancy-button" type="button" id="inputWeightBtn">Input new weight</button>
        <button class="fancy-button" type="button" id="addPhotoBtn">Add Progress Photo</button>
        <button class="fancy-button" type="button">Goal setting</button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Upload Progress Photo</h2>
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" id="fileInput" name="fileInput">
                <button class="fancy-button" type="submit">Upload</button>
            </form>
        </div>
    </div>

    <div id="weightModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Enter Your New Weight</h2>
            <form id="weightForm">
                <input type="text" id="weightInput" placeholder="Enter your weight">
                <button class="fancy-button" type="submit">Submit</button>
            </form>
        </div>
    </div>


    <div class="chart-container">
        <!-- chart here -->
    </div>
    <div class="badges-container">
        <img class="badge" src="badge1.png" alt="Badge 1">
        <img class="badge" src="badge2.png" alt="Badge 2">
        <img class="badge" src="badge3.png" alt="Badge 3">
    </div>
</div>
<script src="script.js"></script>
<script>
    // script to get all photos and render them here
    function refresh(){
        const photoFetch = fetch("/files/all")
        Promise.all([photoFetch])
            .then(responses => {
                return Promise.all([responses[0]]);
            })
            .then(data => {
                return Promise.all([data[0].json()]);
            })
            .then(data => {
                renderPhotos(data[0]);
            })
            .catch((response)=>{
                console.log(response);
                response.json()
                    .then(errorData => {
                        console.log(errorData);
                    })
                    .catch(error => {
                        console.error("Error parsing error response:", error);
                    });
            });
    }
    refresh();

    function renderPhotos(pics){
        let html = "";
        pics.forEach(photo => {
            html+= `
            <div class="bg-secondary-subtle m-2 rounded p-0" style="min-width: 300px;max-width: 500px">
                <img class="img-fluid progress-photo rounded" alt="progress-photo" src="/files/view/${photo.id}"/>
                <p class="fw-bold mx-3 mt-2 text-center">${photo.created} | ${photo.weight}</p>
            </div>
            `;
        });
        document.querySelector("#photo-container").innerHTML = html;
    }

    function checkStatus(response){
        if(response.ok){
            return Promise.resolve(response);
        }else{
            return Promise.reject(response);
        }
    }
</script>
</body>
</html>
