<html>
<head th:replace="~{components/Header :: header('Create Post')}"></head>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<h1 class="fw-bold text-center mt-2">New Post</h1>
<div class="row justify-content-center mt-3">
    <div class="col col-12 col-lg-6">
        <div class="px-4 py-3 rounded bg-dark-subtle">
            <form>
                <div class="mb-3">
                    <label for="title">Post title</label>
                    <input class="form-control form-control-lg" type="text" id="title" placeholder="New Post" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="formFileLg" class="form-label">Upload image</label>
                    <input class="form-control form-control-lg" id="formFileLg" type="file" name="file">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-select" id="category" name="category" required>
                        <option selected>Select a category</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Post body</label>
                    <textarea class="form-control" id="body" rows="3" name="body" required></textarea>
                </div>
                <button class="btn btn-primary" onclick="submitPost()">Submit</button>
            </form>
        </div>
    </div>
</div>

<script>
    function submitPost() {
        let form = document.querySelector('form');
        let formData = new FormData(form);

        console.log(formData);

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/post/add", true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log("SUCCESS : ", xhr.responseText);
                    // Handle success response here
                } else {
                    console.log("ERROR : ", xhr.status);
                    // Handle error response here
                }
            }
        };
        xhr.send(formData);
    }

</script>
</body>
</html>