<html>
<head th:replace="~{components/Header :: header('Fitconnect')}"></head>
<body>
<div th:replace="~{components/NavLogin :: navbar}"></div>
<h1 class="text-center fw-bold mt-3">Sign up FitConnect</h1>
<div class="container">
    <div th:if="${param.error}">
        <div class="alert alert-danger" role="alert">
            ❌ Account information incorrect
        </div>
    </div>
    <div th:if="${param.email}">
        <div class="alert alert-success" role="alert">
            ❌ This email is already in use
        </div>
    </div>
    <div th:if="${param.password}">
        <div class="alert alert-success" role="alert">
            ❌ Passwords do not match
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 d-none d-lg-block"></div>
        <div class="col-12 col-lg-4 align-self-center">
            <div class="card p-4 mt-3">

                <form th:action="@{/newaccount}" method="post" class="mb-0">
                    <label for="first" class="form-label">First Name</label>
                    <input type="text" name="firstName" id="first" class="form-control" required/>

                    <label for="last" class="form-label">Last Name</label>
                    <input type = "text" name="lastName" id="last" class="form-control" required>

                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control" required/>

                    <label for="display" class="form-label">Display Name</label>
                    <input type = "text" name="displayName" id="display" class="form-control" required>

                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required/>

                    <label for="cpassword" class="form-label"> Confirm Password</label>
                    <input type="password" name="confirmPassword" id="cpassword" class="form-control" required/>

                    <label for="weight" class="form-label"> Weight</label>
                    <input type="number" name="weight" id="weight" class="form-control" required/>
                    <label for="height" class="form-label"> Height (inches)</label>
                    <input type = "number" name="heightInInches" id="height" class="form-control" required>

                    <button class="btn btn-primary mt-3" type="submit" value="Create">Create Account</button>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>