<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/Header :: header('Fitconnect')}"></head>
<style>
    .split-tiles {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
    }

    .split-tile {
        width: 200px;
        height: 200px;
        perspective: 1000px;
        position: relative;
    }

    .split-tile-inner {
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;
        cursor: pointer;
    }

    .split-tile-front,
    .split-tile-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        background-color: #f0f0f0;
    }

    .split-tile-back {
        transform: rotateY(180deg);
    }

    .split-tile:hover .split-tile-inner {
        transform: rotateY(180deg);
    }

    .split-tile h3,
    .split-tile p {
        margin: 0;
        padding: 0;
    }

    .split-details {
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        display: none;
    }

    .split-details.show {
        display: block;
    }

    .table-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
    }

    .user-workouts-section,
    .log-workout-section {
        flex: 0 0 48%;
    }

</style>
<body>
<div th:replace="~{components/Navigation :: navbar}"></div>
<div class="container">
    <h2>User Workouts</h2>
    <!-- Dropdown button for chart duration -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="chartToggleDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Chart Duration
        </button>
        <ul class="dropdown-menu" aria-labelledby="chartToggleDropdown">
            <li><button class="dropdown-item" onclick="toggleChart(15)">Last 15 Days</button></li>
            <li><button class="dropdown-item" onclick="toggleChart(30)">Last 30 Days</button></li>
            <li><button class="dropdown-item" onclick="toggleChart(60)">Last 60 Days</button></li>
        </ul>
    </div>
    <canvas id="workoutChart" width="400" height="200"></canvas>
    <div class="table-container">
        <div class="user-workouts-section">
            <h2>Today's workouts</h2>
            <table class="table table-striped table-bordered" id="userWorkoutsTable">
                <thead>
                <tr>
                    <th scope="col">Workout Name</th>
                    <th scope="col">Set</th>
                    <th scope="col">Reps</th>
                    <th scope="col">Weight</th>
                </tr>
                </thead>
                <tbody id="userWorkoutsBody">
                <!-- Workout data for the day will be displayed here -->
                </tbody>
            </table>
        </div>
        <div class="log-workout-section">
            <h2>Log workout</h2>
            <form method="post" id="workoutForm">
                <div class="form-group">
                    <label for="workoutName">Select Workout:</label>
                    <select class="form-control" id="workoutName" name="nameOfWorkout" onchange="checkCustom(this)">
                        <option value="" selected disabled>Select a Workout</option>
                        <option value="Bench Press">Bench Press</option>
                        <option value="Deadlift">Deadlift</option>
                        <option value="Squat">Squat</option>
                        <option value="Custom">Custom</option>
                    </select>
                    <input type="text" class="form-control" id="customWorkout" name="customWorkout" style="display: none;" placeholder="Enter custom workout name">
                </div>
                <table class="table" id="workoutTable">
                    <thead>
                    <tr>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Weight</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="number" class="form-control" name="reps[]" required></td>
                        <td><input type="number" class="form-control" name="weight[]" required></td>
                        <td><button type="button" class="btn btn-danger" onclick="deleteRow(this)">X</button></td>
                    </tr>
                    <!-- Additional rows will be added dynamically -->
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" onclick="addRow()">Add Row</button>
                <button type="button" class="btn btn-success" onclick="submitWorkout()">Create Workout</button>
            </form>
        </div>
    </div>
    <h3 style="margin-top: 20px;">Suggested Workout Splits</h3>
    <div class="split-tiles">
        <div class="split-tile">
            <div class="split-tile-inner" onclick="showSplitDetails('Push Pull Legs')">
                <div class="split-tile-front">
                    <h3>Push Pull Legs</h3>
                </div>
                <div class="split-tile-back">
                    <p>A popular workout split focusing on pushing exercises one day, pulling exercises the next, and legs on the third day.</p>
                </div>
            </div>
        </div>
        <div class="split-tile">
            <div class="split-tile-inner" onclick="showSplitDetails('Upper Lower')">
                <div class="split-tile-front">
                    <h3>Upper Lower</h3>
                </div>
                <div class="split-tile-back">
                    <p>This split alternates between upper body and lower body workouts, typically done on different days.</p>
                </div>
            </div>
        </div>
        <!-- Add more split tiles as needed -->
        <div class="split-tile">
            <div class="split-tile-inner" onclick="showSplitDetails('Full Body')">
                <div class="split-tile-front">
                    <h3>Full Body</h3>
                </div>
                <div class="split-tile-back">
                    <p>A comprehensive workout targeting all major muscle groups in a single session.</p>
                </div>
            </div>
        </div>
        <div class="split-tile">
            <div class="split-tile-inner" onclick="showSplitDetails('Bro Split')">
                <div class="split-tile-front">
                    <h3>Bro Split</h3>
                </div>
                <div class="split-tile-back">
                    <p>A traditional bodybuilding split focusing on one or two muscle groups per day.</p>
                </div>
            </div>
        </div>
    </div>


    <div id="splitDetails" class="split-details">
        <!-- Split details will be displayed here -->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    /* Function to add a new row to the table */
    function addRow() {
        var table = document.getElementById("workoutTable").getElementsByTagName('tbody')[0];
        var newRow = table.insertRow(table.rows.length);

        var setNumber = table.rows.length;
        var cells = newRow.insertCell(0);
        cells.appendChild(document.createTextNode(setNumber));

        cells = newRow.insertCell(1);
        var repsInput = document.createElement("input");
        repsInput.setAttribute("type", "number");
        repsInput.setAttribute("class", "form-control");
        repsInput.setAttribute("name", "reps[]");
        repsInput.required = true;
        cells.appendChild(repsInput);

        cells = newRow.insertCell(2);
        var weightInput = document.createElement("input");
        weightInput.setAttribute("type", "number");
        weightInput.setAttribute("class", "form-control");
        weightInput.setAttribute("name", "weight[]");
        weightInput.required = true;
        cells.appendChild(weightInput);

        cells = newRow.insertCell(3);
        var deleteButton = document.createElement("button");
        deleteButton.innerHTML = "X"; // 'X' icon for delete
        deleteButton.setAttribute("type", "button");
        deleteButton.setAttribute("class", "btn btn-danger");
        deleteButton.onclick = function() {
            // Remove the row when delete button is clicked
            table.deleteRow(newRow.rowIndex-1);
        };
        cells.appendChild(deleteButton);
    }

    /* Function to gather data and submit the form */
    function submitWorkout() {
        var workoutName = document.getElementById("workoutName").value;

        if(workoutName === "Custom") {
            workoutName = document.getElementById("customWorkout").value
        }

        var table = document.getElementById("workoutTable");
        var rows = table.getElementsByTagName('tr');

        for (var i = 1; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var currentSet = parseInt(cells[0].textContent);
            var reps = parseInt(cells[1].querySelector('input').value);
            var weight = parseInt(cells[2].querySelector('input').value);

            var data = {
                "workoutName": workoutName,
                "currentSet": currentSet,
                "reps": reps,
                "weight": weight
            };

            console.log(JSON.stringify(data));

            postData("/workouts/create", data)
                .then(response => {
                    console.log("Workout created successfully:", response);
                })
                .catch(error => {
                    console.error("Error creating workout:", error);
                });

            alert("Workout created successfully!");
        }
    }

    /* Function to check if custom workout option is selected */
    function checkCustom(select) {
        var customInput = document.getElementById("customWorkout");
        if (select.value === "Custom") {
            customInput.style.display = "block";
            customInput.required = true;
        } else {
            customInput.style.display = "none";
            customInput.required = false;
        }
    }

    function showSplitDetails(splitName) {
        var splitDetailsContainer = document.getElementById("splitDetails");
        var splitDetails = getSplitDetails(splitName);

        // Display split details in the container
        splitDetailsContainer.innerHTML = `
            <h2>${splitName}</h2>
            <p>${splitDetails}</p>
        `;

        // Show the split details container
        splitDetailsContainer.style.display = "block";
    }

    function getSplitDetails(splitName) {
        switch (splitName) {
            case 'Push Pull Legs':
                return "Day 1 (Push): Bench Press, Shoulder Press, Tricep Dips. Day 2 (Pull): Pull-Ups, Rows, Bicep Curls. Day 3 (Legs): Squats, Deadlifts, Lunges.";
            case 'Upper Lower':
                return "Day 1 (Upper): Bench Press, Pull-Ups, Shoulder Press. Day 2 (Lower): Squats, Deadlifts, Leg Press.";
            case 'Full Body':
                return "A comprehensive workout targeting all major muscle groups in a single session. Recommended exercises: Squats, Deadlifts, Bench Press, Rows, Shoulder Press, Lunges.";
            case 'Bro Split':
                return "A traditional bodybuilding split focusing on one or two muscle groups per day. Example split: Day 1 (Chest & Triceps): Bench Press, Dumbbell Flyes, Tricep Pushdowns. Day 2 (Back & Biceps): Pull-Ups, Rows, Bicep Curls.";
            // Add more cases for additional split names
            default:
                return "No details available.";
        }
    }


    function fetchUserWorkoutsForToday() {
        fetch('/workouts/today')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Fetched workouts: ', data);
                displayUserWorkouts(data);
                //createWorkoutChart(data);
            })
            .catch(error => console.error('Error fetching workouts:', error));
    }

    function fetchUserWorkouts(duration) {
        fetch(`/workouts/` + duration)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Fetched workouts: ', data);
                createWorkoutChart(data);
            })
            .catch(error => console.error('Error fetching workouts:', error));
    }

    function displayUserWorkouts(workouts) {
        var userWorkoutsBody = document.getElementById('userWorkoutsBody');
        userWorkoutsBody.innerHTML = ''; // Clear previous content

        // Sort workouts by workout name and then by set
        workouts.sort((a, b) => {
            if (a.nameOfWorkout !== b.nameOfWorkout) {
                return a.nameOfWorkout.localeCompare(b.nameOfWorkout);
            }
            return a.currentSet - b.currentSet;
        });

        if (workouts && workouts.length > 0) {
            workouts.forEach(workout => {
                var row = document.createElement('tr');
                row.innerHTML = `
                    <td>${workout.nameOfWorkout}</td>
                    <td>${workout.currentSet}</td>
                    <td>${workout.reps}</td>
                    <td>${workout.weight}</td>
                `;
                userWorkoutsBody.appendChild(row);
            });
        } else {
            var noWorkoutsRow = document.createElement('tr');
            noWorkoutsRow.innerHTML = '<td colspan="4">No workouts available for the day</td>';
            userWorkoutsBody.appendChild(noWorkoutsRow);
        }
    }

    // Fetch user workouts when the page loads
    window.onload = function() {
        fetchUserWorkoutsForToday();
    };

    var chart;

    function createWorkoutChart(workouts) {
        const datasets = {};

        // Iterate through each workout to find the highest weight for each day
        workouts.forEach(workout => {
            const workoutName = workout.nameOfWorkout;
            const weight = workout.weight;
            const date = new Date(workout.date).toDateString(); // Convert date to string to use as key

            // Check if the dataset exists for this workout
            if (!datasets[workoutName]) {
                datasets[workoutName] = {
                    label: workoutName,
                    data: [], // Initialize data array
                    fill: false,
                    borderColor: getColorForWorkout(workoutName),
                    tension: 0.4,
                    maxWeightByDate: {} // Initialize object to store max weight by date
                };
            }

            // Update max weight for this workout on this date
            if (!datasets[workoutName].maxWeightByDate[date] || weight > datasets[workoutName].maxWeightByDate[date]) {
                datasets[workoutName].maxWeightByDate[date] = weight;
            }
        });

        // Add data points for each workout representing the highest weight for each day
        Object.keys(datasets).forEach(workoutName => {
            Object.entries(datasets[workoutName].maxWeightByDate).forEach(([date, weight]) => {
                datasets[workoutName].data.push({
                    x: new Date(date),
                    y: weight
                });
            });
        });

        // Sort data points by x-values (dates)
        Object.values(datasets).forEach(dataset => {
            dataset.data.sort((a, b) => a.x - b.x);
        });

        // Create the chart using datasets
        const ctx = document.getElementById('workoutChart').getContext('2d');
        if (chart) {
            chart.destroy();
        }
        chart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: Object.values(datasets)
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        text: 'Workout Progress'
                    }
                },
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        display: true,
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: 'Weight (lbs)'
                        }
                    }
                }
            }
        });
    }





    // Function to generate a color based on the workout name
    function getColorForWorkout(workoutName) {
        const hash = hashCode(workoutName);
        return '#' + Math.abs(hash).toString(16).substring(0, 6);
    }

    // Function to calculate the hash code of a string
    // This function is used for color generation
    function hashCode(str) {
        let hash = 0;
        for (let i = 0; i < str.length; i++) {
            const char = str.charCodeAt(i);
            hash = ((hash << 5) - hash) + char;
            hash |= 0; // Convert to 32bit integer
        }
        return hash;
    }

    // Function to update dropdown button text
    function updateDropdownButton(text) {
        document.getElementById("chartToggleDropdown").innerText = text;
    }

    // Function to toggle chart based on selected duration
    function toggleChart(duration) {
        updateDropdownButton("Last " + duration + " Days");
        fetchUserWorkouts(duration);
    }

</script>
</body>
</html>
