<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand p-0 me-0 me-lg-2" href="/" aria-label="Bootstrap">
                <img th:src="@{/Fitconnect.svg}" height="32" class="d-block my-1" viewBox="0 0 118 94" role="img" />
            </a>
            <a class="navbar-brand" href="/">FitConnect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myprogress">My Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/workouts">Workouts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connect">Connect</a>
                    </li>
                    <li class="nav-item dropdown d-flex justify-content-center">
                        <a th:if="${loggedIn}" class="nav-link p-0 dropdown-toggle d-flex justify-content-center align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{'/files/profilephoto/' + ${user.getEmail()}}" class="rounded-circle profile-photo" width="32px"/>
                            <p th:text="${user.getFirstName()}" class="ms-2 fw-bold mb-1"></p>
                        </a>
                        <a th:unless="${loggedIn}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul th:if="${loggedIn}" class="dropdown-menu">
                            <li><a class="dropdown-item" href="/account">Account</a></li>
<!--                            <li><a class="dropdown-item" href="/notifications">Notifications</a></li>-->
                            <li class="dropdown-item">
                                <form th:action="@{/logout}" method="post" class="mb-0">
                                    <button type="submit" class="btn btn-link p-0 text-black text-decoration-none">Logout</button>
                                </form>
                            </li>
                        </ul>
                        <ul th:unless="${loggedIn}" class="dropdown-menu">
                            <li><a class="dropdown-item" href="/signUp">Sign Up</a></li>
                            <li><a class="dropdown-item" href="/login">Log In</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>